# **Iterable-Iterable is like a container that store the data and and we can iterate the evey element eg:List,dictory**

# **Iterate-Iterate mean we exract and pick and check evey element in Itarable(Container)..Iterator is like objects in Container**

#**Why need Function..?**

#**We use function for code reusability,maintenace cost**

In [8]:
def total_cast(x,y) :
  print(x*y)

200

In [12]:
total_checkout

In [13]:
type(total_checkout)

NoneType

In [14]:
def total_cast(x,y) :
  return(x*y)

In [15]:
total_checkout=total_cast(10,20)

In [16]:
total_checkout

200

In [17]:
type(total_checkout)

int

## **Important point-Print dose not give any value after calling function but return give value ....Mean if we check data type of print function it Give NoneType but return give a return type**

#**Generator**

Generator is used when we want to save memory

In [18]:
some_list=[1,2,3,4,5,6,7,8]

In [21]:
for i in some_list:
  print(i**2)

1
4
9
16
25
36
49
64

In [22]:
## Yield is a Generator-Yeh memory me store nhi karta yeh ushka ek object bana deta hai..jisse hm ek ek karke retrieve karte hai

## Generatin a sequence of Number

In [23]:
def number_sequence(n):
  for i in range(n):
    yield i

In [24]:
number_sequence(10)

##Print and Return memory me store karke Output dikhata hai but Yield memory me kuch bhi store nhi karta hai yah object ka location bana deta hai

In [26]:
##Accessing the Yield Object
seq_gen=number_sequence(10)
print(list(seq_gen))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Write a function to generate random function

In [27]:
import random

In [28]:
def random_num_generator():
  while True :
    yield random.randint(1,100)

In [34]:
random_number=random_num_generator()
[next(random_number) for _ in range(5)]

[40, 81, 15, 56, 32]

## Next is used for iterator.Hence String it iterable but not iterator

In [35]:
x='Gaurav'

In [36]:
next(x)

TypeError: 'str' object is not an iterator

In [37]:
x=iter(x)

In [38]:
next(x)

'G'

In [39]:
next(x)

'a'

## Generating a prime number

In [45]:
def prime_num_generator():
  num=2
  while True:
    if  prime_number(num) :
      yield num
    num=num+1

In [47]:
def prime_number(n):
  if n<2:
    return False
  for i in range(2,int(n**0.5)+1):
    if n%i==0:
      return False
  return True

In [48]:
prime_number(10)

False

In [49]:
prime_gen=prime_num_generator()
[next(prime_gen) for _ in range(10)]

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

## LAMBDA_FUNCTION-Lambda function is a Anonymous functio

In [50]:
def add_num(x,y):
  print(x+y)

In [53]:
add_num = lambda x,y:x+y

In [54]:
add_num(4,5)

9

In [55]:
## Square a number
y=lambda x:x**2

In [56]:
y(6)

36

In [57]:
## Check if a number is even
is_even = lambda x:x%2==0

In [58]:
is_even(3)

False

In [59]:
## Lambda Function to convert string to upper case:
To_upper = lambda X:X.upper()

In [61]:
To_upper("gaurav")

'GAURAV'

In [63]:
## Compute the average of list of number
lst=[1,2,3,4,5]
avg = lambda x:sum(lst)/len(lst)
avg(lst)

3.0

In [69]:
## Check string is palindrome
str_palindrome = lambda x:x==x[::-1]
str_palindrome("Gaurav")

False

In [72]:
# Generating a dictionary with squared values
squared_Dict=lambda n:{x:x**2 for x in range(1,n+1)}

In [73]:
squared_Dict(5)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [74]:
#  Finding the maximum value in a list
max_value = lambda x:max(x)

In [75]:
max_value([1,2,3,45,67,8])

67

#**Map ,Reduce,filter**

## map always ek function lega aur ushka logic implement karega

In [76]:
def squared_num(n):
  return n**2

In [78]:
num=[1,2,3,4,5]

In [80]:
list(map(squared_num,num))

[1, 4, 9, 16, 25]

## **Filter**

In [83]:
## Filter in python
numbers = [1,2,3,4,5,6,7]
even_number=list(filter(lambda x:x%2==0,numbers))

In [84]:
even_number

[2, 4, 6]

# **Reduce**

In [85]:
# Reducing a list of numbers to their sum
from functools import reduce
l1=[1,2,3,4,5]
sum_of_list=reduce(lambda x,y:x+y,l1)
sum_of_list

15

In [89]:
# Mapping a list of strings to their lengths
string=["Gaurav","Mannu","Singh"]
str_length=list(map(lambda s:len(s),string))
str_length

[6, 5, 5]

In [94]:
# Filtering words starting with 'a' from a list
words = ['apple', 'banana', 'avocado', 'cherry']
filtered_word=list(filter(lambda x:x[0]=='a',words))

In [95]:
filtered_word

['apple', 'avocado']

In [98]:
# Reducing a list of numbers to their product
numbers = [1, 2, 3, 4, 5]
product=reduce(lambda x,y:x*y,numbers)

In [99]:
product

120

In [101]:
# Mapping a list of strings to uppercase
strings = ['hello', 'world']
upper_case=list(map(lambda x:x.upper(),strings))

In [102]:
upper_case

['HELLO', 'WORLD']

In [107]:
# Filtering numbers greater than 10 from a list
numbers = [5, 15, 8, 12, 3]
greater_than=list(filter(lambda x:x>10,numbers))

In [108]:
greater_than

[15, 12]

In [110]:
#Reducing a list of strings to their concatenated form
from functools import reduce
strings = ['Hello', ' ', 'World', '!']
conacat_str=reduce(lambda x,y:x+y,strings)
conacat_str

'Hello World!'

In [113]:
# 10. Mapping a list of numbers to their negative values
numbers = [1, 2, 3, 4, 5]
negative_value=list(map(lambda x:-x,numbers))
negative_value

[-1, -2, -3, -4, -5]

Scenario:
You are developing a program to process online store orders. Each order contains information about the customer, the items purchased, and additional details. You need to create a set of functions to handle different aspects of order processing.

In [127]:
# Function to process the customer's personal information
def process_customer_info(name, email, **kwargs):
    print(f"Processing customer information for {name}")
    print(f"Email: {email}")
    print("Additional information:")
    for key, value in kwargs.items():
        print(f"{key}: {value}")
    print()

# Function to process the items in the order
def process_order_items(*args):
    print("Processing order items:")
    for item in args:
        print(f"- {item}")
    print()

# Function to calculate the total order amount
def calculate_total_amount(*args):
    total = 0
    for arg in args:
        if isinstance(arg, (int, float)):
            total += arg
        else:
            print(f"Invalid item price: {arg}")
    return total

# Function to process the order and generate a receipt
def process_order(customer_info, *items, **kwargs):
    print("Order processing initiated.")
    process_customer_info(**customer_info)
    process_order_items(*items)
    item_prices = kwargs.get("item_prices", ())  # Retrieve the item prices
    total_amount = calculate_total_amount(*item_prices)
    print(f"Total Amount: ${total_amount:.2f}")
    print("Order processed successfully.")
    print("--- Receipt ---")
    print(f"Customer: {customer_info['name']}")
    print("Items:")
    for item in items:
        print(f"- {item}")
    print(f"Total Amount: ${total_amount:.2f}")
    print("Thank you for shopping with us!")

In [128]:
customer_info = {
    "name": "Alice",
    "email": "alice@example.com",
    "phone": "1234567890"
}

items = ("Shirt", "Jeans", "Shoes")

order_details = {
    "shipping_address": "123 Main St",
    "payment_method": "Credit Card",
    "item_prices": (15.99, 29.99, 49.9)  # Separate key for item prices
}

process_order(customer_info, *items, **order_details)

Order processing initiated.
Processing customer information for Alice
Email: alice@example.com
Additional information:
phone: 1234567890

Processing order items:
- Shirt
- Jeans
- Shoes

Total Amount: $95.88
Order processed successfully.
--- Receipt ---
Customer: Alice
Items:
- Shirt
- Jeans
- Shoes
Total Amount: $95.88
Thank you for shopping with us!

# *kargs -Kargs hm tab use karte hai jb hum ko output key:value ke pair me chahiye aur hmko jb key:value pair ke baare me bhi nhi pata ho